@model CoreLibrary.Client

<div class="row justify-content-lg-cehter">
    <h1>Enter your name and table number</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="SaveClient">
            <div class="form-group">
                <label asp-for="Id" class="control-label">Client id</label>
                <input asp-for="Id" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Name</label>
                <input asp-for="Name" class=" form-control" />
            </div>
            <div class="form-group">
                <label asp-for="TableNum" class="control-label">Table number</label>
                <input asp-for="TableNum" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Open menu" class=" btn btn-primary" />
            </div>
        </form>
    </div>
</div>