@using CoreLibrary
@model Order

<div class="row justify-content-lg-cehter">
    <h1>Choice serving</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="AddToOrder">
            <input type="hidden" asp-for="ClientId" value="@ClientStorage.Clients[0].Id" />
            <div class="form-group">
                <img class="card-img-top" src="@Model.Image" />
            </div>
            <div class="form-group">
                <label class="control-label">Вариант приготовления</label>
                <select asp-for="CookingOption" class="form-control">
                    @foreach (var option in CookingOptions.Options)
                    {
                        <option>@option.Title</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Вариант нарезки</label>
                <select asp-for="CuttingOption" class="form-control">
                    @foreach (var option in CuttingOptions.Options)
                    {
                        <option>@option.Title</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Count</label>
                <input asp-for="Count" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Add to order" class=" btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Menu">Back to menu list</a>
</div>
